/* google font ideas */
/* exo, gudea, koho */
/* 
font-family: 'Exo', sans-serif;
font-family: 'Gudea', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
	background-color: #4f4f4f;
	font-family: 'Exo', sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.card {
	background-color: #fcfefc;
	border-radius: 20px;
}

.card.habitGroup {
	position: relative;
	margin: 40px auto;
	border: none;
	max-width: 20%;
	min-width: 350px;
	-webkit-box-shadow: -7px 1px 19px 5px #303030;
	-moz-box-shadow: -7px 1px 19px 5px #303030;
	box-shadow: -7px 1px 19px 5px #303030;
}

.card.habitItem {
	position: relative;
	margin: 10px auto;
	border: none;
	border-radius: 10px;
	max-width: 20%;
	min-width: 300px;
	-webkit-box-shadow: -7px 1px 19px 5px #303030;
	-moz-box-shadow: -7px 1px 19px 5px #303030;
	box-shadow: -7px 1px 19px 5px #303030;
}

.card-header {
	border: none;
	background-color: #fcfefc;
}

.add-habit-group-btn {
	position: absolute;
	left: 47%;
	top: 48px;
	padding: 0 5px;
	border: 1px solid #303030;
	color: #63c132;
}

.add-habit-btn {
	position: absolute;
	left: 45%;
	top: 30px;
	padding: 0px 5px;
	border: 1px solid #303030;
	color: #63c132;
}

.card-body.habitGroup {
	padding: 0 50px 40px;
	background-color: #fff;
	border: none;
	position: relative;
}

.card-body.habitItem {
	padding: 25px 25px 40px;
	background-color: #fcfefc;
	border: none;
	position: relative;
}

.details-btn {
	position: absolute;
	right: 5%;
	top: 3%;
}

.settings-btn {
	position: absolute;
	right: 5%;
	top: -5%;
}

.log-time-btn {
	border: 1px solid #303030;
	color: #63c132;
	font-size: .6rem;
	padding: 2px 5px;
	position: absolute;
	left: 38%;
	bottom: -15%;
}

.lvlCircle {
	position: relative;
}

.component-level.habitGroup {
	position: absolute;
	font-size: 3rem;
	left: 50%;
	top: 23%;
	transform: translateX(-50%);
	color: #fff;
}

.component-level.habitItem {
	position: absolute;
	font-size: 1.5rem;
	left: 63%;
	top: 22%;
	transform: translateX(-50%);
	color: #fff;
}

.xp-num.habitItem {
	font-size: .8rem;
}

.progress-bar {
	background-color: #63c132;
}

.card-stats-div {
	position: relative;
	font-family: 'KoHo', sans-serif;
}

.card-stats-hr {
	margin: 0 5%;
}

.header-hr {
	align-self: center;
	width: 80%;
	margin: auto;
}
